@model DeleteSimulationMacroViewModel
@{
    ViewData["Title"] = "Delete Simulation MacroIndicator";
}

<div class="col-12 col-md-6 offset-md-3">
    <div class="card">
        <div class="card-header bg-danger text-light">
            <h4 class="text-center">¿Está seguro que desea eliminar este macroindicador?</h4>
        </div>
        <div class="card-body">
            <form asp-action="DeleteMacroConfirmed" method="post">
                <input type="hidden" name="id" value="@Model.IdMacroIndicator" asp-for="IdMacroIndicator" />
                <div class="d-flex justify-content-center mt-3">
                    <a asp-action="Index" class="btn btn-outline-warning me-2">Cancelar</a>
                    <button type="submit" class="btn btn-outline-danger">Aceptar</button>
                </div>
            </form>
        </div>
    </div>
</div>
