@model SaveMacroIndicatorViewModel
@{
    bool editMode = ViewBag.EditMode ?? false;
    ViewData["Title"] = "MacroIndicators Save";
}

<div class="col-12 col-md-6 offset-md-3">
    <div class="card">
        <div class="card-header bg-success text-light">
            <h5 class="text-center">@(editMode ? "Editar MacroIndicador" : "Nuevo MacroIndicador")</h5>
        </div>

        <div class="card-body">
            <form asp-controller="MacroIndicator" asp-action="@(editMode ? "Edit" : "Create")" method="POST">
                <input type="hidden" asp-for="IdMacroIndicator" />
                <div class="mb-3">
                    <label asp-for="Name" class="form-label">Nombre</label>
                    <input class="form-control" asp-for="Name"/>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Weight" class="form-label">
                        Peso (Disponible: @Model.RemainingWeight.ToString("F4"))
                    </label>
                    <input class="form-control" asp-for="Weight" step="0.0001" />
                    <span asp-validation-for="Weight" class="text-danger"></span>
                </div>
                <div class="form-check mb-3">
                    <input class="form-check-input" asp-for="IsHighBetter" type="checkbox" />
                    <label class="form-check-label" asp-for="IsHighBetter">
                        ¿Es mejor si el macroindicador es mas alto?
                    </label>
                    <span asp-validation-for="IsHighBetter" class="text-danger"></span>
                </div>
                <div>
                    <button type="submit" class="btn btn-outline-primary float-end">Guardar</button>
                    <a asp-controller="MacroIndicator" asp-action="Index" class="btn btn-outline-warning float-end me-2">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>
